<header class="main_header_area" id="header">
       <div class="container">
            <div class="header_menu">
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="index-2.html"><img src="images/logo.png" alt=""></a>
                    <!-- Small Divice Menu-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar_supported"  aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>

                    <div class="collapse navbar-collapse navbar_supported">
                        <ul class="navbar-nav">
                            <li><a href="/" class="active">Home</a></li>
                            <li><a class="nav-link" href="#about">About us</a></li>
                            <li class="dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">BLog</a>
                                <ul class="dropdown-menu">
                                    <li><a href="#finance">Finance</a></li>
                                    <li><a href="#education">Education</a></li>
                                    <li><a href="#technology">Technology</a></li>
                                    <li><a href="#sport">Sport</a></li>
                                    <li><a href="#health">Health</a></li>
                                    <li><a href="#food">Food</a></li>
                                    <li><a href="#fitness">Fitness</a></li>
                                </ul>
                            </li>
                            <li><a class="nav-link" href="#contact">Contact us</a></li>
                            <li class="search_box">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Type and hit enter">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-search"></i></span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <ul class="search_button_content nav">
                    <li class="dropdown search_dropbown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-search"></i></a>
                        <ul class="dropdown-menu">
                            <li>
                                <input type="text" placeholder="Search..">
                                <span><i class="fa fa-search"></i></span>
                            </li>
                        </ul>
                    </li>
                </ul>
           </div>
        </div>
    </header>