{% load blog_template_tags %}
{% load static %}

    <div class="col-lg-4 right_sidebar">
        <div class="input-group">
{#            <h3>Post Categories</h3>#}
        </div>
        <div class="categories">
                        <h3>Post Categories</h3>
            <ul class="cpost_categories">
                <li><a href="{% url 'business_posts' %}" class="active">Business<span>{% count_business_post %}</span></a></li>
                <li><a href="{% url 'finance_posts' %}" class="active">Finance & Business<span>{% count_financial_post %}</span></a></li>
                <li><a href="{% url 'technology_posts' %}" class="active">Technology<span>{% count_technology_post %}</span></a></li>
                <li><a href="{% url 'travel_posts' %}" class="active">Travel<span>{% count_travel_post %}</span></a></li>
                <li><a href="/" class="active">All News<span>{% count_all_post %}</span></a></li>
            </ul>
        </div>

        <!-- Latest Bitcoin News -->
        <div class="latest_news_widget">
            <h2>Recent Posts</h2>

            {% recent_post as recents %}
            {% for recent in recents %}
                <div class="widget">
                    <a href="{% url 'post_details' recent.id %}"><img src="{{ recent.post_image.url }}" alt=""></a>
                    <a href="{% url 'post_details' recent.id %}" class="w_heding">{{ recent.title }}</a>
                </div>
            {% endfor %}


            <!-- Advertisement -->
            <div class="advertisement_2">
                <a href="#">
                    <img src="{% static 'images/advertisement-2.jpg' %}" alt="">
                </a>
            </div>
        </div>
    </div>