{% load static %}
<div class="col-lg-4 right_sidebar">
                    <div class="input-group">
                        <h3>Post Categories</h3>
                    </div>
                    <div class="categories">
{#                        <h3>Post Categories</h3>#}
                        <ul class="cpost_categories">
                            <li><a href="#" class="active">Business<span>05</span></a></li>
                            <li><a href="#">Finance & Business<span>04</span></a></li>
                            <li><a href="#">Technology<span>03</span></a></li>
                            <li><a href="#">Travel<span>02</span></a></li>
                            <li><a href="#">All News<span>01</span></a></li>
                        </ul>
                    </div>

                    <!-- Latest Bitcoin News -->
                    <div class="latest_news_widget">
                        <h2>Trending News</h2>
                        <div class="widget">
                            <a href=""><img src="{% static 'images/post/lnw-1.jpg' %}" alt=""></a>
                            <a href="news-details.html" class="w_heding">Envion – Digital Currency Mint in Exploits World’s Lowest Cost Power</a>
                        </div>
                        <div class="widget">
                            <a href="news-details.html"><img src="{% static 'images/post/lnw-2.jpg' %}" alt=""></a>
                            <a href="news-details.html" class="w_heding">Bitcoin Cash Price Hits Record $2,500 to pierce $300 billion for the first time</a>
                        </div>

                    <!-- Advertisement -->
                    <div class="advertisement_2">
                        <a href="#">
                            <img src="{% static 'images/advertisement-2.jpg' %}" alt="">
                        </a>
                    </div>
                </div>

            </div>