{% extends 'base.html' %}
{% load static %}
{% block post_section %}
        <section class="post_section news_post">
        <div class="container">
            <div class="row post_section_inner">
                <!-- Left_sidebar -->
                <div class="col-lg-8">
                    <div class="news_left_sidebar">
                        <!-- News Item -->
                        {% for post in all_post %}
                            <div class="news_item">
                                <h6>{{ post.created_at }}</h6>
                                <a href="{% url 'post_details' post.id %}" class="news_heding">{{ post.title }}</a>
                                <img src="{{ post.post_image.url }}" width="711px" height="450px" alt="">
                                <p>{{ post.post_content }}</p>
                                <a href="{% url 'post_details' post.id %}" class="red_btn">Continue Reading <i class="fa fa-arrow-right"></i></a>
                            </div>
                        {% endfor %}

                        <!-- Pagination Side -->
                        <div class="col-12 p-0">
                            <nav class="pagination_area">
                                <ul class="pagination">
                                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-left"></i></a></li>
                                    <li class="page-item disabled"><a class="page-link active" href="#" tabindex="-1">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-arrow-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>

                <!-- End left_sidebar -->
                <div class="col-lg-4 right_sidebar">
                    <div class="input-group">
                        <h3>Post Categories</h3>
                    </div>
                    <div class="categories">
{#                        <h3>Post Categories</h3>#}
                        <ul class="cpost_categories">
                            <li><a href="#" class="active">Business<span>05</span></a></li>
                            <li><a href="#">Finance & Business<span>04</span></a></li>
                            <li><a href="#">Technology<span>03</span></a></li>
                            <li><a href="#">Travel<span>02</span></a></li>
                            <li><a href="#">All News<span>01</span></a></li>
                        </ul>
                    </div>

                    <!-- Latest Bitcoin News -->
                    <div class="latest_news_widget">
                        <h2>Trending News</h2>
                        <div class="widget">
                            <a href=""><img src="{% static 'images/post/lnw-1.jpg' %}" alt=""></a>
                            <a href="news-details.html" class="w_heding">Envion – Digital Currency Mint in Exploits World’s Lowest Cost Power</a>
                        </div>
                        <div class="widget">
                            <a href="news-details.html"><img src="{% static 'images/post/lnw-2.jpg' %}" alt=""></a>
                            <a href="news-details.html" class="w_heding">Bitcoin Cash Price Hits Record $2,500 to pierce $300 billion for the first time</a>
                        </div>

                    <!-- Advertisement -->
                    <div class="advertisement_2">
                        <a href="#">
                            <img src="{% static 'images/advertisement-2.jpg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </section>

{% endblock %}