
<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="images/favicon.png" type="image/x-icon" />
    <!-- Theme tittle -->
    <title>Mora Blog | Html Template</title>

    <!-- Theme style CSS -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

    <!-- Header Top Area -->
{#    {% include 'includes/top_header_area.html' %}#}
    <!-- Header Top Area -->

    <!-- Header Area -->
    {% include 'includes/header_area.html' %}
    <!-- Header Area -->

    <!-- Pages Heder Area -->

    {% block blog_list_tab %}

    {% endblock %}

    <!-- End Pages Heder Area -->

    <!-- Post section -->
    
    {% block post_section %}

    {% endblock %}
    
    <!-- End Post section -->

    <!-- Connect with us -->
    <section class="connect_with_us">
        <div class="container">
            <h2>Connect with us</h2>
            <ul class="contact_with_socail">
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            </ul>
        </div>
    </section>
    <!-- End Connect with us -->

    <!-- Footer Area -->
    <footer class="footer_area">
        <div class="container">
            <div class="footer_inner row">
                <div class="col-lg-5 col-md-6 footer_logo">
                    <a href="index-2.html"><img src="images/logo.png" alt=""></a>
                    <p>Established in 2013 as the first cloud mining provider, Blog has become a multi-functional Blog  Categories, trusted by over a million users.</p>
                    <address>
                        <span>LOCATION</span>
                        <p>12/4  New Yourk R Block  Street 2101 USA</p>
                    </address>
                </div>

                <div class="col-lg-5 col-md-6">
                   <div class="subscribe">
                        <h4>Subscribe</h4>
                        <p>Sign up for our mailing list to get latest updates and offers</p>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="">
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-paper-plane"></i></span>
                            </div>
                        </div>
                        <h6>Working Hours :  Monday-Saturday <span>Close : Sunday</span></h6>
                   </div>
                </div>

                <div class="col-lg-2 col-md-3 resources">
                    <h4>Short Link</h4>
                    <ul class="resources_list">
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                        <li><a href="#">Bug  Bounty Program</a></li>
                        <li><a href="#">Policy</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="shop.html">Shop</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="copy_right">
            <p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
        </div>
    </footer>
    <!-- End Footer Area -->

    <!-- Scroll Top Button -->
    <button class="scroll-top">
        <i class="fa fa-angle-double-up"></i>
    </button>

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- jQuery v3.2.1 -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap v4.1.0 -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- Extra Plugin -->
    <script src="{% static 'vendors/animate-css/wow.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-selector/jquery.nice-select.min.js' %}"></script>

    <!-- Theme js / Custom js -->
    <script src="{% static 'js/theme.js' %}"></script>
</body>

</html>